<%= render 'layouts/navigation' %>
<H1>Details</h1>


<p>Title: <%= @article.title %>  </p>
<p>Description: <%= @article.description %>  </p>
<p>by <%= @article.user.username if @article.user %></p>
<% if logged_in? && @user == current_user %>
<%= link_to 'Edit', edit_article_path(@article) %>|
<%= link_to 'Delete', article_path(@article), data:{ turbo_method: :delete , turbo_confirm: "Are you sure?" } %> 
<% end %>
<p> <%= link_to 'Return to all articles listing', articles_path(@article) %> <br>
<%= link_to 'Return to this users articles', user_path(@article.user) %>
</p>
