<h1> <%= @user.username%>'s profile </h1>
<ul>
<% if logged_in? %>
        <li class="nav-item">
          <%= link_to 'Home', root_path %>
        </li>
        <li class="nav-item">
          <%= link_to 'Logout', logout_path,  method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Log in', login_path %>
        </li>
<!--        <li class="nav-item">
          <%= link_to 'Sign up', signup_path %>
        </li>-->
      <% end %>
      </ul>
<p>
<%= link_to "Edit your profile", edit_user_path(@user)%>
</p>
<p>
<div class="flickr_pagination">
<%= will_paginate @articles, :container => false %>
  </div>
</p>
<%= render 'articles/article' %>

<%= link_to 'Return to articles listing', articles_path(@article) %>|
    <%= link_to 'Create new article', new_article_path %></p>


<p>
    
<div class="flickr_pagination">
<%= will_paginate @articles, :container => false %>
  </div>
    </p>
