Index page <br>
<%= render 'layouts/navigation' %>
<!--<p>

        <%= link_to 'Log in', login_path %>
      </li>
      <li class="nav-item">
        <%= link_to 'Logout', logout_path, method: :delete %>
    </p>-->


<!--
<p>
<%=link_to 'Articles listing', articles_path%> <br>
<%=link_to 'About page', about_path%><br>
<%= link_to 'Sign up!', signup_path %><br>
<%= link_to 'List of users', users_path%><br>
<% if logged_in? %>
        <li class="nav-item">
          <%= link_to current_user.username.capitalize, user_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Logout', logout_path, class: "nav-link", method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Log in', login_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign up', signup_path, class: "nav-link" %>
        </li>
      <% end %>
      </ul>
</p> >